body {
  font-family: "Prompt", sans-serif;
}

้h2 {
  font-family: "Prompt", sans-serif;
}
#map {
  height: 70vh;
  width: 100%;
}
#greenByCom {
  width: 100%;
  height: 80vh;
}
#greenCom {
  width: 100%;
  height: 80vh;
}
